.AvatarEditor {
  position: relative;
  display: flex;
  width: 80%;
  aspect-ratio: 16 / 7;
  margin-inline: auto;
  margin-bottom: $fiftypx;
  border-radius: $twelvepx;
  overflow: hidden;
  .camera-editor {
    position: absolute;
    top: $sixteenpx;
    right: $sixteenpx;
    height: $fiftypx;
    width: $fiftypx;
    z-index: 2;
    background: $color1-light;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    cursor: pointer;
    overflow: hidden;
    input {
      display: none;
    }
    svg {
      @include classic-h3-font-size;
      & {
        color: $white;
        transition: 0.3s ease;
      }
    }
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
    &:active {
      svg {
        transform: scale(0.98);
        color: #ffffffb2;
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color1-50;
    opacity: 0.3;
    z-index: 1;
  }
}
