// Génération des classes pour background
@each $color-name in $color-name-list {
  .bg-#{$color-name} {
    background-color: var(--#{$color-name});
  }
}

// Génération des classes pour le texte
@each $color-name in $color-name-list {
  .text-#{$color-name} {
    color: var(--#{$color-name});
  }
}

// Génération des classes pour border
@each $color-name in $color-name-list {
  .border-#{$color-name} {
    border-color: var(--#{$color-name});
  }
}

body {
  @include classic-body;
  > main {
    @include classic-container;
    & {
      min-height: 60vh;
    }
  }
}

section {
  @include classic-section;
}

h1 {
  &:not(.TitleTag) {
    @include classic-h1;
  }
}

h2 {
  @include classic-h2;
}

h3 {
  @include classic-h3;
}

button,
.input {
  @include classic-input;
}

.errors-message {
  display: flex;
  text-align: left;
  font-size: small;
  color: var(--error);
  margin-top: $twopx;
  &.login-error {
    display: flex;
    align-items: center;
    gap: $sevenpx;
    border: 1px solid var(--error);
    background: color-mix(in srgb, var(--error), var(--white-light) 90%);
    backdrop-filter: blur(5px);
    padding: $tenpx $sixteenpx;
    border-radius: $fourpx;
    margin-top: -1.5rem;
    user-select: none;
  }
}

.page {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
