.Footer {
  .container {
    @include classic-container;
    text-align: center;
    padding-bottom: $thirty-twopx;
  }
}

@media screen and (max-width: 1250px) {
  .Footer {
    padding-top: $hundredpx;
  }
}
