.WillComming {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .icon {
    @include classic-h2-font-size;
  }
  h1 {
    color: var(--bg-color-classic);
    margin-bottom: $twenty-fourpx;

    span {
      color: var(--body-text-color);
      display: block;
    }
  }
  .description {
    @include classic-h3-font-size;
    line-height: 30px;
  }
}

@media screen and (max-width: 678px) {
  .WillComming {
    width: calc(100% - 2rem);
    .description {
      @include alternative-body;
    }
  }
}
