.main-of-Login {
  max-width: unset;
  display: flex;
  background: var(--bg-color-classic);
  height: 100vh;
  overflow: hidden;
  .presentation {
    @include alternative-section-padding;
    max-width: calc(1920px / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $twenty-fourpx;
    width: 50%;
    color: var(--white);
    ::selection {
      background: var(--white);
      color: var(--bg-color-classic);
    }
    .try-together {
      display: flex;
      align-items: center;
      gap: $sixteenpx;
      .lightbulb {
        position: relative;
        background: rgba(255, 255, 255, 0.25);
        height: $fourtypx;
        width: $fourtypx;
        border-radius: 50%;
        cursor: pointer;
        svg {
          position: absolute;
          width: $eighteenpx;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          transition: 0.3s ease-in-out;
        }
        &:hover {
          svg {
            transform: translate(-50%, -50%) scale(1.05);
          }
          &:active {
            svg {
              transform: translate(-50%, -50%) scale(0.95);
              opacity: 0.8;
              transition: transform;
            }
          }
        }
      }
      span {
        @include classic-alternative-font-size;
        & {
          font-weight: $weight-bold;
        }
      }
    }

    h1 {
      @include alternative-h1;
      i {
        font-style: normal;
        background: var(--white);
        color: var(--bg-color-classic);
        ::selection {
          background: var(--bg-color-dark);
          color: var(--white);
        }
      }
    }
    .testimonials-zone {
      display: flex;
      overflow: hidden;
      height: calc(2 * $hundredpx);
      position: relative;
      .testimony {
        position: absolute;
        transform: translateY(-50%);
        top: 100%;
        opacity: 0;
        transition: 1s ease-in-out;
        &.active {
          top: 50%;
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }
  .login {
    max-width: calc(1920px / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    padding-block: $thirty-twopx;
    background-color: var(--body-bg-color);
    .welcome {
      @include big-alternative-font-size;
      font-weight: $weight-bold;
      line-height: 50px;
      &::selection {
        background: var(--bg-color-classic);
        color: var(--white-light);
      }
      span {
        position: relative;
        z-index: 1;
        transition: 0.3s;
        &::selection {
          background: var(--white-light);
          color: var(--bg-color-classic);
        }
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 3px;
          background: var(--bg-color-light);
          left: 0;
          bottom: 0;
          z-index: -1;
          transition: 0.3s;
        }
        &:hover {
          color: var(--white-light);
          &::after {
            background: var(--bg-color-classic);
            height: 100%;
          }
        }
      }
    }
    .slogan {
      display: block;
      margin-block: $sixteenpx $thirty-twopx;
      color: var(--grey-1);
    }
    .forms-zone {
      @include alternative-section-padding;
      padding-top: $thirty-twopx;
      .toggle-choice {
        display: flex;
        background: var(--grey-50);
        padding: $fivepx $sevenpx;
        border-radius: $eightpx;
        button {
          position: relative;
          overflow: hidden;
          width: 50%;
          border: none;
          background: none;
          padding: $eightpx 0;
          font-weight: $weight-semibold;
          z-index: 1;
          cursor: pointer;

          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--white-light);
            border-radius: $fourpx;
            z-index: -1;
            transition: 0.7s ease;
          }
          &#sign-in-button {
            &::before {
              transform: translateX(100%);
            }
            &.active {
              &::before {
                transform: translateX(0);
              }
            }
          }
          &#sign-up-button {
            &::before {
              transform: translateX(-100%);
            }
            &.active {
              &::before {
                transform: translateX(0);
              }
            }
          }
        }
      }
      form {
        display: none;
        flex-direction: column;
        gap: $twentypx;
        margin-top: $fourtypx;
        .name-and-firstname-zone {
          display: flex;
          gap: $twentypx;
          label {
            width: 50%;
          }
        }
        label {
          &.PasswordInput {
            .passord-zone {
              .passord-reset {
                color: var(--red-light);
              }
            }
          }
          &.CheckboxInput {
            input {
              accent-color: var(--bg-color-classic);
            }
          }
        }

        button {
          background: var(--bg-color-classic);
          color: var(--white-light);
        }

        &.active {
          display: flex;
        }
      }
      .continue-with-google {
        margin-top: $twenty-fourpx;
        display: flex;
        flex-direction: column;
        gap: $twenty-fourpx;
        .separator {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            width: 100%;
            background: var(--grey-1);
            z-index: -1;
          }
          span {
            background: var(--body-bg-color);
            width: max-content;
            margin: 0 auto;
            padding: 0 $tenpx;
            text-transform: uppercase;
            font-size: smaller;
            color: var(--grey-1);
            z-index: 1;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: $sixteenpx;
          img {
            width: $eighteenpx;
            height: $eighteenpx;
          }
        }
      }
      .legals-zone {
        width: 90%;
        margin-top: $twenty-fourpx;
        font-size: small;
        a {
          position: relative;
          display: inline-block;
          transition: 0.3s ease-in-out;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $onepx;
            background: var(--black);
            transition: 0.3s ease-in-out;
          }
          &:hover {
            opacity: 0.8;
            &::before {
              background: unset;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .main-of-Login {
    flex-direction: column;
    height: max-content;
    .presentation {
      width: 100%;
      padding-block: $fiftypx;
    }
    .login {
      width: 100%;
      border-radius: $seventypx $seventypx 0 0;
    }
  }
}

@media screen and (max-width: 678px) {
  .main-of-Login {
    .presentation {
      .testimonials-zone {
        height: calc(2 * $hundredpx + $seventypx);
      }
    }

    .login {
      border-radius: $fourtypx $fourtypx 0 0;
      .welcome {
        line-height: 35px;
      }

      .forms-zone {
        form {
          .name-and-firstname-zone {
            flex-direction: column;
            label {
              width: 100%;
            }
          }
        }
        .legals-zone {
          width: 100%;
        }
      }
    }
  }
}
