.main-of-Login {
  max-width: unset;
  display: flex;
  height: 100vh;
  overflow: hidden;
  .presentation {
    @include alternative-section-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $twenty-fourpx;
    width: 50%;
    background: var(--red);
    color: var(--white);
    ::selection {
      background: var(--white);
      color: var(--red);
    }
    .try-together {
      display: flex;
      align-items: center;
      gap: $sixteenpx;
      .icon {
        position: relative;
        background: rgba(255, 255, 255, 0.25);
        height: $fourtypx;
        width: $fourtypx;
        border-radius: 50%;
        svg {
          position: absolute;
          width: $eighteenpx;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
      span {
        @include classic-alternative-font-size;
        & {
          font-weight: $weight-bold;
        }
      }
    }

    h1 {
      @include alternative-h1;
    }
  }
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    padding-block: $thirty-twopx;

    .welcome {
      @include big-alternative-font-size;
      font-weight: $weight-bold;
      line-height: 50px;
      &::selection {
        background: var(--red);
        color: var(--white-light);
      }
      span {
        position: relative;
        transition: 0.3s;
        &::selection {
          background: var(--white-light);
          color: var(--red);
        }
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 3px;
          background: var(--red-light);
          left: 0;
          bottom: 0;
          z-index: -1;
          transition: 0.3s;
        }
        &:hover {
          color: var(--white-light);
          &::after {
            background: var(--red);
            height: 100%;
          }
        }
      }
    }
    .slogan {
      color: var(--grey-1);
    }
    .forms-zone {
      @include alternative-section-padding;
      padding-top: $thirty-twopx;
      .toggle-choice {
        display: flex;
        background: var(--grey-50);
        padding: $fivepx $sevenpx;
        border-radius: $eightpx;
        button {
          position: relative;
          overflow: hidden;
          width: 50%;
          border: none;
          background: none;
          padding: $eightpx 0;
          font-weight: $weight-semibold;
          z-index: 1;
          cursor: pointer;

          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--white-light);
            border-radius: $fourpx;
            z-index: -1;
            transition: 0.7s ease;
          }
          &#sign-in-button {
            &::before {
              transform: translateX(100%);
            }
            &.active {
              &::before {
                transform: translateX(0);
              }
            }
          }
          &#sign-up-button {
            &::before {
              transform: translateX(-100%);
            }
            &.active {
              &::before {
                transform: translateX(0);
              }
            }
          }
        }
      }
      form {
        display: none;
        flex-direction: column;
        gap: $twentypx;
        margin-top: $fourtypx;
        .name-and-firstname-zone {
          display: flex;
          gap: $twentypx;
        }
        label {
          &.PasswordInput {
            .passord-zone {
              .passord-reset {
                color: var(--red-light);
              }
            }
          }
          &.CheckboxInput {
            input {
              accent-color: var(--red);
            }
          }
        }

        button {
          background: var(--red);
          color: var(--white-light);
        }

        &.active {
          display: flex;
        }
      }
      .continue-with-google {
        margin-top: $twenty-fourpx;
        display: flex;
        flex-direction: column;
        gap: $twenty-fourpx;
        .separator {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 1px;
            width: 100%;
            background: var(--grey-1);
            z-index: -1;
          }
          span {
            background: var(--body-bg-color);
            width: max-content;
            margin: 0 auto;
            padding: 0 $tenpx;
            text-transform: uppercase;
            font-size: smaller;
            color: var(--grey-1);
            z-index: 1;
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: $sixteenpx;
          img {
            width: $eighteenpx;
            height: $eighteenpx;
          }
        }
      }
      .legals-zone {
        width: 90%;
        margin-top: $twenty-fourpx;
        font-size: small;
        a {
          position: relative;
          display: inline-block;
          transition: 0.3s ease-in-out;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $onepx;
            background: var(--black);
            transition: 0.3s ease-in-out;
          }
          &:hover {
            opacity: 0.8;
            &::before {
              background: unset;
            }
          }
        }
      }
    }
  }
}
