.Header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background: var(--bg-color-classic);
  color: var(--text-color-classic);
  z-index: 100;
  ::selection {
    background-color: var(--white);
    color: var(--bg-color-classic);
  }
  .container {
    @include classic-container;
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $sixteenpx;
    }

    .logo {
      @include classic-header-logo;
      svg {
        margin-right: $sevenpx;
      }
    }

    nav {
      .burger-nav-menu {
        display: none;
      }
      ul {
        display: flex;
        gap: $fiftypx;
        li {
          display: flex;
          align-items: center;
          a {
            @include classic-header-nav;
            & {
              display: flex;
              align-items: center;
              gap: $fivepx;
              opacity: 0.75;
              transition: 0.2s ease-in-out;
            }
            &:hover {
              opacity: 0.95;
            }
            &.active {
              opacity: 1;
              font-weight: $weight-bold;
            }
          }
        }
      }
    }

    .account-zone {
      display: flex;
      align-items: center;
      gap: $twenty-fourpx;
      .toggle-darkmode {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        width: $twenty-fourpx;
        height: $twenty-fourpx;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        svg {
          transition: 0.3s;
        }
        &:hover {
          background: var(--white);
          svg {
            color: var(--color1-light);
          }
        }
        &:active {
          transform: scale(1.15);
          svg {
            transform: scale(1.15) rotate(1turn);
            transition: padding-block 0.7s;
          }
        }

        &.darkmode {
          .faMoon {
            display: none;
          }
          .faSun {
            display: block;
          }
        }
        &.lightmode {
          .faMoon {
            display: block;
          }
          .faSun {
            display: none;
          }
        }
      }
      .profile {
        display: block;
        width: $fourtypx;
        height: $fourtypx;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        transition: 1.3s;
        img {
          pointer-events: none;
        }

        &:hover {
          box-shadow: rgba(255, 255, 255, 0.412) 0px 0px 10px 0px;
        }

        &.active {
          box-shadow: rgba(255, 255, 255, 0.412) 0px 0px 10px 0px;
          &:active {
            transform: rotate(-1turn);
            transition: padding-block 0.3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .Header {
    position: fixed;
    left: 50%;
    top: unset;
    bottom: 7%;
    transform: translate(-50%, -7%);
    width: calc(100% - 4rem);
    height: $hundredpx;
    padding-inline: 2.188rem;
    border-radius: 1.875rem;
    $shadow-color: color-mix(
      in srgb,
      var(--bg-color-classic),
      var(--white-light) 85%
    );
    box-shadow: 0px 2px 10px $shadow-color;
    background: var(--white-light);
    color: var(--bg-color-classic);
    .container {
      flex-direction: row-reverse;
      gap: $thirty-twopx;
      .logo {
        display: none;
      }
      nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: $thirty-twopx;
        &.menu-is-open {
          width: 100%;
        }
        .burger-nav-menu {
          display: block;
          &.menu-is-open {
            .faBars {
              display: none;
            }
            .faXmark {
              display: block;
            }
          }
          &.menu-is-closed {
            .faBars {
              display: block;
            }
            .faXmark {
              display: none;
            }
          }
        }
        ul {
          display: none;
          &.menu-is-open {
            display: flex;
            justify-content: space-around;
            width: 100%;
            li {
              a {
                position: relative;
                padding-inline: $twenty-fourpx;
                &::after {
                  content: "";
                  position: absolute;
                  right: -$twenty-fourpx;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 1px;
                  height: 100%;
                  background: var(--bg-color-classic);
                  opacity: 0.5;
                }
              }
            }
            svg {
              @include alternative-body-font-size;
            }
          }
          li {
            a {
              .nav-link-text {
                display: none;
              }
            }
          }
        }
      }

      .account-zone {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        &.menu-is-open {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .Header {
    min-height: calc(3 * $sixteenpx + $sixpx);
    height: max-content;
    padding-inline: $sixteenpx;
    bottom: 5%;
    width: calc(100% - 2rem);

    .container {
      height: 100%;
      padding-left: 0;
      nav {
        height: 100%;
        ul {
          height: 100%;
          transition: 0.3s ease-in-out;
          &.menu-is-open {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $sixteenpx;
            flex-wrap: wrap;
            li {
              justify-content: center;
              a {
                padding-inline: 0;
                &::after {
                  content: none;
                }
              }
            }
          }
        }
      }
      .account-zone {
        .profile {
          width: $thirtypx;
          height: $thirtypx;
        }
      }
    }
  }
}
