.Header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: max-content;
  background: var(--bg-color-classic);
  color: var(--text-color-classic);
  z-index: 100;
  ::selection {
    background-color: var(--white);
    color: var(--bg-color-classic);
  }
  .container {
    @include classic-container;
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $sixteenpx;
    }

    .logo {
      @include classic-header-logo;
      svg {
        margin-right: $sevenpx;
      }
    }

    nav {
      ul {
        display: flex;
        gap: $fiftypx;
        li {
          display: flex;
          align-items: center;
          a {
            @include classic-header-nav;
            & {
              display: flex;
              align-items: center;
              gap: $fivepx;
              opacity: 0.75;
              transition: 0.2s ease-in-out;
            }
            &:hover {
              opacity: 0.95;
            }
            &.active {
              opacity: 1;
              font-weight: $weight-bold;
            }
          }
        }
      }
    }

    .account-zone {
      display: flex;
      align-items: center;
      gap: $twenty-fourpx;
      .toggle-darkmode {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        width: $twenty-fourpx;
        height: $twenty-fourpx;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
        svg {
          transition: 0.3s;
        }
        &:hover {
          background: var(--white);
          svg {
            color: var(--color1-light);
          }
        }
        &:active {
          transform: scale(1.15);
          svg {
            transform: scale(1.15) rotate(1turn);
            transition: padding-block 0.7s;
          }
        }
      }
      .profile {
        display: block;
        width: $fourtypx;
        height: $fourtypx;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        transition: 1.3s;
        img {
          pointer-events: none;
        }

        &:hover {
          box-shadow: rgba(255, 255, 255, 0.412) 0px 0px 10px 0px;
        }

        &.active {
          box-shadow: rgba(255, 255, 255, 0.412) 0px 0px 10px 0px;
          &:active {
            transform: rotate(-1turn);
            transition: padding-block 0.3s;
          }
        }
      }
    }
  }
}
