.Profile {
  max-width: 900px;
  margin: $thirty-twopx auto;
  h1 {
    @include classic-h2;
    margin-bottom: $thirty-twopx;
  }
  h2 {
    @include small-h3;
    text-transform: uppercase;
    color: var(--grey-1);
  }
  .container-edit {
    display: flex;
    flex-direction: column;
    gap: $thirty-twopx;

    ul {
      list-style: none;
    }

    .avatar_name-and-email {
      background: var(--white-light);
      padding: $twenty-fourpx;
      border-radius: $twelvepx;
      box-shadow: $shadow;
      display: flex;
      align-items: center;
      gap: $twenty-fourpx;
      .avatar {
        height: 64px;
        width: 64px;
        overflow: hidden;
      }

      .name-and-email {
        .name {
          @include big-h3;
          color: var(--black);
          font-weight: $weight-bold;
          margin-bottom: $fivepx;
        }
        .email {
          color: var(--grey-1);
        }
      }
    }
  }

  .logout-btn {
    position: relative;
    overflow: hidden;
    display: flex;
    gap: $sixteenpx;
    align-items: center;
    margin-top: $thirty-twopx;
    background: var(--white-light);
    border: 1px solid var(--border-color);
    padding: $twelvepx $twenty-fourpx;
    border-radius: $sixpx;
    color: var(--body-text-color);
    cursor: pointer;
    z-index: 1;
    transition: 0.3s ease-in-out;

    &::after {
      position: absolute;
      content: "";
      background: var(--bg-color-classic);
      height: 100%;
      width: 100%;
      top: 0;
      left: -100%;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }
    .icon {
      position: relative;
      transition: 0.3s ease-in-out;
    }

    &:hover {
      color: var(--white-light);
      &::after {
        left: 0;
      }
    }
    &:active {
      transform: scale(0.98);
      .icon {
        left: $fivepx;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .Profile {
    h1 {
      @include section-margin-inline;
      text-align: center;
    }
    .container-edit {
      @include section-margin-inline;
    }
    .logout-btn {
      margin-inline: auto;
    }
  }
}

@media screen and (max-width: 678px) {
  .Profile {
    .container-edit {
      .avatar_name-and-email {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: $sixteenpx;
      }
    }
  }
}
