.Dashboard {
  .greetings-and-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .level {
      position: relative;
      svg {
        @include classic-h2-font-size;
        & {
          color: var(--bg-color-dark);
        }
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
      }
    }
  }

  .infos-zone {
    @include classic-auto-grid(2, 2, 1, 1);
    & {
      margin-top: $fiftypx;
      gap: $fiftypx;
    }
  }
}
