.PasswordInput {
  .passord-zone {
    display: flex;
    justify-content: space-between;
    font-size: small;
    .passord-reset {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .eyes-icons-zone {
    .eye-icon {
      left: calc(100% - $sixteenpx * 2);
    }
  }
  input {
  }
}
