.AgendaGoalsPreview {
  display: flex;
  flex-direction: column;
  gap: $sixteenpx;
  height: max-content;
  // background: $section-color2;
  padding: $twenty-fourpx;
  border-radius: $twelvepx;

  .ClassicButton {
    margin: $thirty-twopx auto;
  }
}
