.AgendaGoalsPreview {
  display: flex;
  flex-direction: column;
  gap: $sixteenpx;
  height: max-content;
  background: var(--white);
  border-radius: $twelvepx;

  .ClassicButton {
    margin: $thirty-twopx auto;
  }
}
