.AgendaItem {
  @include classic-item;

  .avatar {
    @include classic-avatar;
  }
  .infos {
    display: flex;
    .schedules {
      display: flex;
      flex-direction: column;
      margin-inline: $sixteenpx;
      color: var(--color1-light);
    }
    .name-and-subject {
      display: flex;
      flex-direction: column;
      font-weight: $weight-medium;
    }
  }
  .settings {
    margin-left: auto;
    cursor: pointer;
  }
  &:hover {
    background-color: var(--color1-light);
    color: var(--white);
    .schedules {
      color: var(--white);
    }
  }
}
