.LoginButton {
  border: none;
  border-radius: $fourtypx;
  height: $seventypx;
  max-width: calc(3 * $hundredpx);
  &.bg-color6 {
    width: max-content;
    height: max-content;
    padding: $twelvepx $twenty-fourpx;
  }
}
